<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>投稿リスト</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<% provide(:title, "index") %>
    <div class="center jumbotron">
      <div>
        <h1>工事情報アプリ</h1>
        <p>トップページです。</p>
            <br>
            <%= link_to "新規サインアップ", new_user_registration_path, class: "btn btn-lg btn-primary" %><br><br>
            <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "btn btn-lg btn-primary" %>
      </div>
    </div>
<% end %>